* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}
/*common*/
.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;

}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

.text-white {
    color: white !important;
}

.pull-right {
    float: right !important;
}

#nav, .subnav {
    list-style-type: none;
}
#nav > li, #nav {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav .subnav {
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
    min-width: 160px;
    top: 101%;
    left: 0;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav .subnav a {
    color: #000;
    padding: 0 16px;
    line-height: 38px;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a {
    background-color: #ccc;
    color: black;
}

#nav .nav-arrow-down {
    font-size: 10px;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
    cursor:pointer;
}

#header .search-btn:hover {
    background-color: red;
}

#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: white;
    line-height: 46px;
}

#slider {
    margin-top: 46px;
    background: url(../img/slider/img_ch.jpg) top center / cover no-repeat;
    padding-top: 50%;
    position: relative;
}

#slider .text-content {
    position: absolute;

    /* left: 50%;
    transform: translateX(-50%); */

    width: 100%;

    /* left: 0;
    right: 0; */
    
    text-align: center;
    color: white;
    bottom: 47px;
}

#slider .text-heading {
    font-weight: 700;
    font-size: 24px;
    margin: 10px 0 10px 0;
}

#slider .text-description {
    font-size: 15px;
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px 0;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    margin: 10px 0 10px 0;
    
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    text-align: justify;
    margin-top: 25px;
    font-size: 15px;
    line-height: 1.6;
}

#content .member-list {
    margin-top: 48px;
}

.text-center {
    text-align: center !important;
}

#content .member-name {
    font-size: 15px;
    padding-bottom: 15px;
}

#content .member-img {
    width: 154px;
    border-radius: 4px;
}

.clear {
    clear: both;
}

.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: white;
    margin-top: 40px;
    list-style-type: none;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 3px;
}

.tickets-list .quantity {
    background-color: black;
    color: white;
    border-radius: 50%;
    float: right;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.place-list{
    margin-top: 32px;

}
.col-third{
    width: 33.333333%;
}
.place-img{
    width: 100%;
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;

}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 0.7;
}
.place-desc{
    line-height: 1.4;
    padding-bottom: 15px;
}
.btn{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
    display: inline-block;
}

.btn:hover {
    cursor: pointer;
    background-color: gray;
    color: #000;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open {
    display: flex;
}
.modal-container {
    background-color: white;
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 60px);
    animation: animation ease .3s;
}

.modal-container .modal-close {
    float: right;
    padding: 15px;
    color: white;
    cursor: pointer;
}
.modal-container .modal-close:hover {
    background-color: red;
}

.modal-container .modal-title {
    display: inline-block;
    letter-spacing: 2px;
    font-weight: 50;
    line-height: 10px;
}
.modal-container .modal-header {
    text-align: center;
    line-height: 150px;
    color: white;
    font-size: 30px;

}
.modal-container .modal-close,  .modal-header {
    background-color: #009688;
}

.modal-container .modal-body, .modal-footer {
    padding-left: 16px;
    padding-right: 16px;
}

.modal-body .modal-label {
    display: block;
}

.modal-body .modal-label {
    margin-top: 15px;
    margin-bottom: 15px;
}
.modal-body .modal-input {
    padding: 8px;
    width: 100%;
    
}
.modal-body .modal-input::-webkit-input-placeholder {
    font-size: 14px;
}

.modal-body #buy-tickets {
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 100%;
    background-color: #009688;
    border: none;
    color: white;
    font-style: bold;
    font-size: 20px;
    cursor: pointer;
}

.modal-body #buy-tickets:hover {
    background-color: #ccc;
    color: black;
}

.modal-footer .modal-help {
    float: right;
    margin-top: 15px;
    margin-bottom: 15px;
}

.modal-footer .modal-btn-close {
    padding: 8px 16px;
    margin: 16px 0 16px 0;
    background: red;
    color: white;
    border: none;
    font-weight: 50;
    cursor: pointer;
}

.modal-footer .modal-btn-close:hover {
    background-color: #ccc;
    color: black;
}

.modal-footer .ti-close {
    font-size: 10px;
}

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;

}

@keyframes animation {
    from { 
        opacity: 0;
        transform: translateY(-100px);
    }

    to { 
        transform: translateY(0px);
        opacity: 1.0; 
    }
}

.map-section img {
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;
    padding: 16px;
}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.3);
}

#footer .copyright {
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}